body {
  background-color: gray;
}
.rainbox {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  background-color: #012345;
}

.display {
  position: relative;
  top: 10px;
  width: 380px;
  height: 100px;
  background-color: black;
  margin: 0 auto;
}
