body {
  background-color: gray;
}
.rainbox {
  width: 400px;
  height: 590px;
  margin: 0 auto;
  background-color: #012345;
}

.display {
  position: relative;
  top: 10px;
  width: 380px;
  height: 150px;
  background-color: black;
  margin: 0 auto;
}

.functions{
  position: relative;
  top: 20px;
  width: 380px;
  height: 100px;
  background-color: white;
  margin: 0 auto;
}
.bottom {
  position: relative;
  top: 20px;
  width: 380px;
  height: 300px;
  margin: 10px;
  background-color: white;
  float: left;
}
.numbers {
  position: relative;
  display: inline-block;
  top: 5px;
  width: 280px;
  height: 280px;
  background-color: blue;
  margin: 5px;
  z-index: 10;
}
.operators {
  position: relative;
  display: inline-block;
  top: 5px;
  width: 80px;
  height: 280px;
  background-color: beige;
  margin: 5px;
}

.button {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: black;
  text-align: center;
  color: white;
}
